img {
    border-radius: 100px;
}

th {
    border-color: rgb(132, 0, 255);
    border-width: 6px;
    border-style: solid;
    border-radius: 0%;
    background-color: rgb(212, 170, 219);
}

td {
    border-color: rgb(132, 0, 255);
    border-width: 6px;
    border-style: solid;
    border-radius: 0%;
    background-color: rgb(212, 170, 219);
}

ul {
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
    border-radius: 0%;
}

div {
     flex-direction: row;
    justify-content: space-around;

}

header{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.imgheader{
    width: 60px;
    height: 60px;
}